@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    font-family: 'Fira Code', monospace !important;
}

p, li, .post-content, blockquote {
    font-family: 'Open Sans', sans-serif !important;
}
